.booking-form {
  padding: 20px 15px;
  width: 100%;
  text-align: center;
  position: relative;
  .input-wrapper {
  	display: inline-block;
  	padding: 0px 20px;
  	input {
  		min-width: 200px;
  		outline: none;
  		padding: 8px 12px;
  		font-size: 16px;
  	}
  }
  .submit-wrapper {
  	display: inline-block;
  	padding: 0px 20px;
  }
}
